.character {
  border: 2px solid black;
  padding: .2em 1.2em;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.selectable {
  background-color: #99ff99;
  cursor: pointer;
}

.selected {
  background-color: #006600;
}

.selectable:hover {
  border: 2px solid #006600;
}

.enemy {
  background-color: #ff9999;
}

.opponent {
  background-color: #cc0000;
}

p.name {
  padding-bottom: .1em;
}

p.health {
  padding-top: .1em;
}

img.charimg {
  border: 1px solid black;
}

h1 {
  font-size: 2em;
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
  margin: 8px 0px;
}

body {
  padding: 10px 20px 0px 20px;
  background-image: url("../images/xwing.jpg");
  background-position: right top;
  background-size: cover;
}

#characters {

}

.charimg {
  width: 145px;
}

.opponent .charimg {
  width: 155px;
}

#attackBtn, #resetBtn {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

#attackBtn:enabled {
  color: white;
  background-color: red;
  font-weight: bold;
}

#attackBtn:enabled:hover {
  background-color: #cc0000;
}

#resetBtn {
  background-color: #99ff99;
  font-weight: bold;
}

#resetBtn:hover {
 background-color: #006600;
}

#textLog {
  margin-top: 20px;
  background-color: #cccccc;
  border: 2px solid gray;
  width: 500px;
  height: 120px;
  padding: 0px 10px;
  overflow-y: auto;
}

#credits {
  font-size: smaller;
}